<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head'); %>
<body class="container">
    <main class="col-12">
        <div class="row py-5">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                <h1>Nome do meu projeto</h1>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                <form action="">
                    <div class="mb-3">
                        <label for="exampleFormControlInput" class="form-label">Nome</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Deixe o seu comentário</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Insira aqui o seu comentário." rows="3"></textarea>
                      </div>    
                </form>
            </div>
        </div>
    </main>
</body>
</html>