<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>
    <main class="bg-tertiary-color">
        <div class="row d-flex align-items-center" style="height:500px;">
            <div class="col-12 col-lg-6">
                <h1 class="py-3">Nome do meu projeto</h1>
                <p class="py-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, sit dolorem tenetur molestiae laborum sed porro minima repellendus, soluta facere vitae dicta aliquam, obcaecati suscipit. Vel provident dolor eligendi cupiditate!</p>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>